In [51]:
import pandas as pd
pd.options.mode.use_inf_as_na = True

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.backends.backend_agg import FigureCanvasAgg as FigureCanvas

from sklearn.model_selection import train_test_split
import numpy as np
import io

import string

In [3]:
trainDataFrame   = pd.read_csv("datafiles/kwanticsData/mixImartMaxLifeData.csv",usecols=["Text","emotion"])

In [4]:
"Total na found",trainDataFrame.isna().sum()

('Total na found',
 Text       2
 emotion    0
 dtype: int64)

In [5]:
trainDataFrame.loc[trainDataFrame.isna().any(axis=1)]

     Text  emotion
670   NaN        1
1228  NaN        2

In [6]:
trainDataFrame = trainDataFrame.dropna().reset_index(drop=True)

In [7]:
trainDataFrame["charCount"] = trainDataFrame.loc[:,"Text"].apply(len)
trainDataFrame["wordCount"] = trainDataFrame.loc[:,"Text"].apply(lambda sent: len(sent.split()))

In [8]:
trainDataFrame.describe()

           emotion     charCount    wordCount
count  1588.000000   1588.000000  1588.000000
mean      2.028338   4241.269521   870.278338
std       0.822542   4468.737002   901.101019
min       1.000000     17.000000     2.000000
25%       1.000000   1364.000000   286.000000
50%       2.000000   2549.500000   529.000000
75%       3.000000   5426.500000  1125.000000
max       3.000000  39401.000000  8527.000000

In [9]:
def makePlots(df):
    figure,axisList2D = plt.subplots(2,2,figsize=(10,5))

    ax1,ax2,ax3,ax4 = [axis for axisList1d in axisList2D for axis in axisList1d] 

    ax1 = sns.distplot(df["charCount"],hist=False,ax=ax1)
    ax1.set(xlim=(0,50000),title="Total char count plot.. Gaussian kernal estimation")

    ax2 = sns.distplot(df["wordCount"],hist=False,ax=ax2)
    ax2.set(xlim=(0,10000),title="Total word count plot.. Gaussian kernal estimation")

    ax3 = sns.boxplot(df["charCount"],ax=ax3)
    ax3.set(xlim=(0,10000),title="Total char count plot.. box plot",xticks=list(range(0,10000,1000)))

    ax4 = sns.boxplot(df["wordCount"],ax=ax4)
    ax4.set(xlim=(0,10000),title="Total word count plot.. box plot",xticks=list(range(0,10000,1000)))

    figure.suptitle("Total dataset lengths analysis")
    return ax1,ax2,ax3,ax4,figure

In [47]:
*axis,figure = makePlots(trainDataFrame)

In [48]:
groupedDfs = trainDataFrame.groupby("emotion")
groupedDfs.count()

         Text  charCount  wordCount
emotion
1         515        515        515
2         513        513        513
3         560        560        560

In [61]:
figureList = []
for i,(emotion,group) in enumerate(groupedDfs):
    *axis,figure       = makePlots(trainDataFrame)
    figure.suptitle(f"Total dataset lengths analysis. For emotion: {emotion}")

TypeError: only integer scalar arrays can be converted to a scalar index

In [55]:
figureList[0]

(1500000,)